<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
 Your <b><%= @attendance.is_leave_or_wfh ? "leave" : "work from home" %></b> application for <b><%= date_format(@attendance.start_date) %></b>
  has been <b></b><%=attendance_current_status(@attendance).to_s.upcase!%></b><br>
</p>
<p>
  Additional Comments: <%= @attendance.comments %>
</p>

</body>
</html>