<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
 Your <%= @attendance.is_leave_or_wfh ? "leave" : "work from home" %> application for <%= @attendance.start_date %>
  had been <%=attendance_current_status(@attendance)%><br>
</p>

</body>
</html>