<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>
    Your account has been created on Leave Management System.
  </p>
  To login click <%= link_to "here", new_user_session_url %>
</body>
</html>