.ui-slider-tabs{
	
}
.ui-slider-tabs-list-wrapper{
	position: relative;
	width: 100%;
	font-family: Arial, sans-serif;
	margin: 0 0 -1px 0;
	z-index: 50;
}
.ui-slider-tabs-list-wrapper.bottom{
	margin: -1px 0 0 0;
}
.ui-slider-tabs-list-container{
	overflow: hidden;
}
.ui-slider-tabs-list{
	padding: 0;
	margin: 0 0 0 0;
	list-style: none;
}
.ui-slider-tabs-list li{
	display: inline-block;
	border-bottom: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
	border-top: 1px solid #cfcfcf;
	margin: 0;
	font-size: 13px;
	font-weight: bold;

	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
.ui-slider-tabs-list li a{
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	color: #555;
	text-shadow: 0px 1px 0px #fff;
	margin: 0;
}
.ui-slider-tabs-list li a:hover{
	color: #000;
}
.ui-slider-tabs-list li.selected{
	border-bottom-color: #fff;
	border-top-color: #cfcfcf;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.ui-slider-tabs-list-wrapper.bottom .ui-slider-tabs-list li.selected{
	border-top-color: #fff;
	border-bottom-color: #cfcfcf;
}
.ui-slider-tabs-list li.selected a{
	cursor: default;
	color: #000;
}
.ui-slider-tabs-list li:first-of-type{
	border-left: 1px solid #cfcfcf;
}

.ui-slider-tabs-content-container{
	position: relative;
	border: 1px solid #cfcfcf;
	z-index: 1;
	overflow: hidden;
	background-color: #fff;
}

.ui-slider-tab-content{
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	padding: 10px;
}

.ui-slider-left-arrow, .ui-slider-right-arrow, .ui-slider-left-arrow.edge:hover, .ui-slider-right-arrow.edge:hover{
	display: block;
	position: absolute;
	border: 1px solid #cfcfcf;

	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
.ui-slider-left-arrow:hover, .ui-slider-right-arrow:hover{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.ui-slider-left-arrow{
	left: 0;
	top: 0;
	box-shadow: 2px 0px 1px rgba(0,0,0,.06);
	border-top-left-radius: 4px;
}
.ui-slider-left-arrow div{
	background-image: url('images/leftArrow.png');
	background-repeat: no-repeat;
	background-position: center center;
	height: inherit;
}
.ui-slider-left-arrow.edge div{
	opacity: .25;
}
.ui-slider-left-arrow.edge{
	box-shadow: none;
	cursor: default;
}
.ui-slider-tabs-list-wrapper.bottom .ui-slider-left-arrow{
	border-top-left-radius: 0;
	border-bottom-left-radius: 4px;
}

.ui-slider-right-arrow{
	top: 0;
	right: 0;
	box-shadow: -2px 0px 1px rgba(0,0,0,.06);
	border-top-right-radius: 4px;
}
.ui-slider-right-arrow div{
	background-image: url('images/rightArrow.png');
	background-repeat: no-repeat;
	background-position: center center;
	height: inherit;
}
.ui-slider-right-arrow.edge div{
	opacity: .25;
}
.ui-slider-right-arrow.edge{
	box-shadow: none;
	cursor: default;
}
.ui-slider-tabs-list-wrapper.bottom .ui-slider-right-arrow{
	border-top-right-radius: 0;
	border-bottom-right-radius: 4px;
}

.ui-slider-tabs-indicator-container{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.ui-slider-tabs-indicator{
	width: 10px;
	height: 10px;
	background-image: url('images/indicator.png');
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 3px;
	cursor: pointer;
}
.ui-slider-tabs-indicator.selected{
	background-image: url('images/indicatorActive.png');
}

.ui-slider-tabs-leftPanelArrow{
	position: absolute;
	left: 0px;
	width: 30px;
	height: 35px;
	background-image: url('images/leftPanelArrow.png');
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);
}

.ui-slider-tabs-rightPanelArrow{
	position: absolute;
	right: 0px;
	width: 30px;
	height: 35px;
	background-image: url('images/rightPanelArrow.png');
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);
}

.ui-slider-tabs-rightPanelArrow.showOnHover, .ui-slider-tabs-leftPanelArrow.showOnHover{
	opacity: 0;
	display: none;
}

.ui-slider-tabs-content-container:hover .ui-slider-tabs-rightPanelArrow.showOnHover,.ui-slider-tabs-content-container:hover .ui-slider-tabs-leftPanelArrow.showOnHover{
	opacity: .5;
	display: inline-block;
}

.ui-slider-tabs-content-container .ui-slider-tabs-rightPanelArrow:hover,.ui-slider-tabs-content-container .ui-slider-tabs-leftPanelArrow:hover,.ui-slider-tabs-content-container .ui-slider-tabs-rightPanelArrow.showOnHover:hover,.ui-slider-tabs-content-container .ui-slider-tabs-leftPanelArrow.showOnHover:hover{
	opacity: 1;
}
.ui-slider-tabs{}.ui-slider-tabs-list-wrapper{ position: relative;width:100%;font-family:Arial,sans-serif;margin:0 0 -1px 0;z-index:50;}.ui-slider-tabs-list-wrapper.bottom{ margin: -1px 0 0 0;}.ui-slider-tabs-list-container{ overflow: hidden;}.ui-slider-tabs-list{ padding:0;margin:0 0 0 0;list-style: none;}.ui-slider-tabs-list li{ display: inline-block;border-bottom:1px solid #cfcfcf;border-right:1px solid #cfcfcf;border-top:1px solid #cfcfcf;margin:0;font-size:13px;font-weight:bold;background:#fcfcfc;background: -moz-linear-gradient(top,#fcfcfc 0%,#f5f5f5 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcfcfc),color-stop(100%,#f5f5f5));background: -webkit-linear-gradient(top,#fcfcfc 0%,#f5f5f5 100%);background: -o-linear-gradient(top,#fcfcfc 0%,#f5f5f5 100%);background: -ms-linear-gradient(top,#fcfcfc 0%,#f5f5f5 100%);background: linear-gradient(top,#fcfcfc 0%,#f5f5f5 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc',endColorstr='#f5f5f5',GradientType=0 );}.ui-slider-tabs-list li a{ display:block;padding:8px 15px;text-decoration: none;color:#555;text-shadow:0px 1px 0px #fff;margin:0;}.ui-slider-tabs-list li a:hover{ color:#000;}.ui-slider-tabs-list li.selected{ border-bottom-color:#fff;border-top-color:#cfcfcf;background:#ffffff;background: -moz-linear-gradient(top,#ffffff 0%,#ffffff 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#ffffff));background: -webkit-linear-gradient(top,#ffffff 0%,#ffffff 100%);background: -o-linear-gradient(top,#ffffff 0%,#ffffff 100%);background: -ms-linear-gradient(top,#ffffff 0%,#ffffff 100%);background: linear-gradient(top,#ffffff 0%,#ffffff 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0 );}.ui-slider-tabs-list-wrapper.bottom .ui-slider-tabs-list li.selected{ border-top-color:#fff;border-bottom-color:#cfcfcf;}.ui-slider-tabs-list li.selected a{ cursor:default;color:#000;}.ui-slider-tabs-list li:first-of-type{ border-left:1px solid #cfcfcf;}.ui-slider-tabs-content-container{ position: relative;border:1px solid #cfcfcf;z-index:1;overflow: hidden;background-color:#fff;}.ui-slider-tab-content{ position:absolute;display: none;top:0;left:0;padding:10px;}.ui-slider-left-arrow,.ui-slider-right-arrow,.ui-slider-left-arrow.edge:hover,.ui-slider-right-arrow.edge:hover{ display:block;position:absolute;border:1px solid #cfcfcf;background:#fcfcfc;background: -moz-linear-gradient(top,#fcfcfc 0%,#f5f5f5 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcfcfc),color-stop(100%,#f5f5f5));background: -webkit-linear-gradient(top,#fcfcfc 0%,#f5f5f5 100%);background: -o-linear-gradient(top,#fcfcfc 0%,#f5f5f5 100%);background: -ms-linear-gradient(top,#fcfcfc 0%,#f5f5f5 100%);background: linear-gradient(top,#fcfcfc 0%,#f5f5f5 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc',endColorstr='#f5f5f5',GradientType=0 );}.ui-slider-left-arrow:hover,.ui-slider-right-arrow:hover{ background:#ffffff;background: -moz-linear-gradient(top,#ffffff 0%,#ffffff 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#ffffff));background: -webkit-linear-gradient(top,#ffffff 0%,#ffffff 100%);background: -o-linear-gradient(top,#ffffff 0%,#ffffff 100%);background: -ms-linear-gradient(top,#ffffff 0%,#ffffff 100%);background: linear-gradient(top,#ffffff 0%,#ffffff 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0 );}.ui-slider-left-arrow{ left:0;top:0;box-shadow:2px 0px 1px rgba(0,0,0,.06);border-top-left-radius:4px;}.ui-slider-left-arrow div{ background-image: url('images/leftArrow.png');background-repeat: no-repeat;background-position:center center;height: inherit;}.ui-slider-left-arrow.edge div{ opacity: .25;}.ui-slider-left-arrow.edge{ box-shadow: none;cursor:default;}.ui-slider-tabs-list-wrapper.bottom .ui-slider-left-arrow{ border-top-left-radius:0;border-bottom-left-radius:4px;}.ui-slider-right-arrow{ top:0;right:0;box-shadow: -2px 0px 1px rgba(0,0,0,.06);border-top-right-radius:4px;}.ui-slider-right-arrow div{ background-image: url('images/rightArrow.png');background-repeat: no-repeat;background-position:center center;height: inherit;}.ui-slider-right-arrow.edge div{ opacity: .25;}.ui-slider-right-arrow.edge{ box-shadow: none;cursor:default;}.ui-slider-tabs-list-wrapper.bottom .ui-slider-right-arrow{ border-top-right-radius:0;border-bottom-right-radius:4px;}.ui-slider-tabs-indicator-container{ position:absolute;bottom:0;left:0;width:100%;text-align:center;}.ui-slider-tabs-indicator{ width:10px;height:10px;background-image: url('images/indicator.png');background-repeat: no-repeat;display: inline-block;margin-right:3px;cursor: pointer;}.ui-slider-tabs-indicator.selected{ background-image: url('images/indicatorActive.png');}.ui-slider-tabs-leftPanelArrow{ position:absolute;left:0px;width:30px;height:35px;background-image: url('images/leftPanelArrow.png');background-repeat: no-repeat;background-position:center center;cursor: pointer;opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=5);}.ui-slider-tabs-rightPanelArrow{ position:absolute;right:0px;width:30px;height:35px;background-image: url('images/rightPanelArrow.png');background-repeat: no-repeat;background-position:center center;cursor: pointer;opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=5);}.ui-slider-tabs-rightPanelArrow.showOnHover,.ui-slider-tabs-leftPanelArrow.showOnHover{ opacity:0;display: none;}.ui-slider-tabs-content-container:hover .ui-slider-tabs-rightPanelArrow.showOnHover,.ui-slider-tabs-content-container:hover .ui-slider-tabs-leftPanelArrow.showOnHover{ opacity: .5;display: inline-block;}.ui-slider-tabs-content-container .ui-slider-tabs-rightPanelArrow:hover,.ui-slider-tabs-content-container .ui-slider-tabs-leftPanelArrow:hover,.ui-slider-tabs-content-container .ui-slider-tabs-rightPanelArrow.showOnHover:hover,.ui-slider-tabs-content-container .ui-slider-tabs-leftPanelArrow.showOnHover:hover{ opacity:1;}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.







*/
/* line 19, ../../app/assets/stylesheets/application.css.scss */
table {
  border-collapse: collapse;
}

/* line 23, ../../app/assets/stylesheets/application.css.scss */
table, th, td {
  border: 1px solid #000000;
  text-align: center;
  padding: 10px;
}

/* line 29, ../../app/assets/stylesheets/application.css.scss */
.actions {
  border: 1px solid #e37504;
  background-color: #f9d681;
  padding: 5px;
  text-decoration: none;
}

/* line 37, ../../app/assets/stylesheets/application.css.scss */
.approvals {
  border: 1px solid #e37504;
  background-color: #f9d681;
  padding: 5px;
  text-decoration: none;
}

/* line 45, ../../app/assets/stylesheets/application.css.scss */
.text_box {
  display: block;
  margin-top: 5px;
}

/* line 50, ../../app/assets/stylesheets/application.css.scss */
.ok_button {
  margin-top: 5px;
}

/* line 54, ../../app/assets/stylesheets/application.css.scss */
.approval_comments {
  display: none;
}
/* line 1, ../../app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, ../../app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, ../../app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, ../../app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 24, ../../app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 28, ../../app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, ../../app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, ../../app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 44, ../../app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* Make clicks pass-through */
/* line 6, ../../../../../../var/lib/gems/1.9.1/gems/nprogress-rails-0.1.6.7/app/assets/stylesheets/nprogress.scss */
#nprogress {
  pointer-events: none;
}

/* line 10, ../../../../../../var/lib/gems/1.9.1/gems/nprogress-rails-0.1.6.7/app/assets/stylesheets/nprogress.scss */
#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
/* line 23, ../../../../../../var/lib/gems/1.9.1/gems/nprogress-rails-0.1.6.7/app/assets/stylesheets/nprogress.scss */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
/* line 38, ../../../../../../var/lib/gems/1.9.1/gems/nprogress-rails-0.1.6.7/app/assets/stylesheets/nprogress.scss */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 100;
  top: 15px;
  right: 15px;
}

/* line 46, ../../../../../../var/lib/gems/1.9.1/gems/nprogress-rails-0.1.6.7/app/assets/stylesheets/nprogress.scss */
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

/* line 60, ../../../../../../var/lib/gems/1.9.1/gems/nprogress-rails-0.1.6.7/app/assets/stylesheets/nprogress.scss */
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

/* line 65, ../../../../../../var/lib/gems/1.9.1/gems/nprogress-rails-0.1.6.7/app/assets/stylesheets/nprogress.scss */
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#nprogress .bar,
#nprogress .spinner {
  z-index: 999999;
}
