/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.sliderTabs
 *= require jquery.sliderTabs.min

 *= require_self
 *= require_tree .
*/
table {
    border-collapse: collapse;
}

table, th,  td{
    border: 1px solid #000000;
    text-align: center;
    padding: 10px;
}

.actions{
    border: 1px solid #e37504;
    background-color: #f9d681;
    padding: 5px;
    text-decoration:none;

}

.approvals{
    border: 1px solid #e37504;
    background-color: #f9d681;
    padding: 5px;
    text-decoration:none;

}

.text_box{
    display: block;
    margin-top: 5px;
}

.ok_button{
    margin-top: 5px;
}

.approval_comments{
    display: none;
}