/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.ui.all
 *= require jquery.sliderTabs
 *= require jquery.sliderTabs.min

 *= require_self
 *= require foundation_and_overrides

 *= require nprogress
 *= require nprogress-bootstrap
 *= foundation/components/tables
 *= require select2
 *= require_tree .
*/



.actions{
    border: 1px solid #e37504;
    background-color: #f9d681;
    padding: 5px;
    text-decoration:none;

}

.approvals{
    border: 1px solid #e37504;
    background-color: #f9d681;
    padding: 5px;
    text-decoration:none;

}

.text_box{
    display: block;
    margin-top: 5px;
}

.ok_button{
    margin-top: 5px;
}

.approval_comments{
    display: none;
}

.top_links{
  text-align: center;
  color: #000000;
}
.top_links:hover{
  background-color: #cccccc;
}

a.img_style:hover {
    background: transparent;
}


.select2-container *{
    font-size: 0.875rem;
}

.select2-search__field{
    padding-left: 0px !important;
    margin: 0px !important;
    min-width:30px !important;
    box-shadow: none !important;
}

.select2-container .select2-selection--multiple
{
    min-height: 20px !important;
}

.button.tiny_01
{
    padding: 2px 5px !important;
    margin-bottom: 2px;
}