// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard_buttons{
  text-align: center;
  border: 1px solid #666666;
  width: 200px;
  color: #333333;
  background: none;
}

.dashboard_buttons:hover{
  background-color: #cccccc;
}