
<h1>Edit Leave Request</h1>
<%= form_for(@attendance) do |f| %>
<%= render :partial=>'form',:locals => {:f =>f} %>
    <% end %>

<%= link_to 'Show', @attendance %> |
<%= link_to 'Back', root_path %>
