| <%= link_to 'Back', {:controller => :dashboard, :action => 'index'}, :class => "top_links" %>

<h1>Pending Approvals</h1>

<% if current_user.roles.include?(Role.find_by_name(:manager)) %>
    <%= render(:partial => 'dashboard/attendance_show', :locals => {:attendances => current_user.approvals.where(approval_status: nil)}) %>
<% end %>