<h2>Pending Approvals</h2>

<% if current_user.roles.include?(Role.find_by_name(:manager)) %>
  <%= render partial: 'dashboard/attendance_show', locals: {attendances: current_user.approvals.where(approval_status: nil)} %>
<% end %>
